body {
    margin:0 auto;
    width:1200px;
    text-align: center;
}
body > * {margin:50px 0;}
h1 {
    background-color: pink;
    font-size: 45px;
}
#dan2, #calc, #result, #test {
    font-size: 30px; text-align: center;
    width:100px; height:50px;
    border:2px solid #000;
    border-radius: 5px;
}
#dan2 {
    width:100px; height:50px;}
#calc {}
#result {}
#test {
    font-size:25px;
    width:100px; height:40px;
}
span {
    font-size:35px;
}